<header class="header p-3">
        <div class="row justify-content-between align-items-center head-box px-4">
            <h1 class="col-6 col-md-4">
              <a href="/user" class="mx-4 text-white">
                  <i class="fas fa-arrow-left"></i>
              </a>
              Cadastrar Formulário</h1>
            <div class="px-4 col-md-4" id="form-search">
                <i class="fas fa-search text-white"></i>
                <input id="search-bar" placeholder="Search" class="mx-4 px-2 py-0">
            </div>
        </div>
</header>

   <div class="container box p-5">
        <div class="my-4">
            <h5>Título Questionario</h5>
            <p><input [(ngModel)]="titulo" type="text" placeholder="Digite o Título do Questionário" class="inpText"></p>
        </div>

        <div class="my-4">
            <h5>Data inicio</h5>
            <p><input [(ngModel)]="inicio" placeholder="dd/mm/aaaa" class="inpText"></p>
        </div>

        <div class="my-4">
            <h5>Data Fim</h5>
            <p><input [(ngModel)]="fim" placeholder="dd/mm/aaaa" class="inpText"></p>
        </div>

        <div class="my-4">
            <h5>Pergunta</h5>
            <p><textarea name="" id="" class="inpText" placeholder="Digite a Questão..."></textarea></p>
        </div>

        <div>
            <h5>Repostas</h5>
            <p class="my-4 py-4"><input type="checkbox" class="checkResp"><input type="text" class="inpText inpResp" placeholder="Resposta 01"></p>
            <p class="my-4 py-4"><input type="checkbox" class="checkResp"><input type="text" class="inpText inpResp" placeholder="Resposta 02"></p>
            <p class="my-4 py-4"><input type="checkbox" class="checkResp"><input type="text" class="inpText inpResp" placeholder="Resposta 03"></p>
            <p class="my-4 py-4"><input type="checkbox" class="checkResp"><input type="text" class="inpText inpResp" placeholder="Resposta 04"></p>
        </div>
        <div>
            <button>Salvar Questionário
            </button>
        </div>
    </div> 
