<header class="header p-3">
	<div class="row justify-content-between align-items-center head-box px-4">
		<h1 class="col-6 col-md-4">Meus Formulários</h1>
		<div class="px-4 col-md-4" id="form-search">
			<i class="fas fa-search text-white"></i>
                <input id="search-bar" placeholder="Search" class="mx-4 px-2 py-0">
            </div>
            <div class="row align-items-center justify-content-end col-6 col-md-4" id="user-info"
                *ngIf='user.provider != "password"'>
                <div>
                    <div id="name-user">{{user.name}}</div>
                    <a (click)="logout()" class="logout"> Sair </a>
                </div>
                <img class="circle-user mx-3" [src]="user.image" *ngIf="user.image">
            </div>
        </div>
    </header>
    <div class="container box p-5">
        <div class="row align-items-center box-add">
            <div class="btn-add mx-4"  routerLink="/survey"><i class="fas fa-plus"></i></div>
            <div class="p-add">Adicionar Formulário</div>
        </div>

        <div class="container row justify-content-around">

          <div class="col-12 col-sm-4 col-lg-3  mini-box-form m-4 p-3 d-flex align-items-start flex-column" (click) = 'editForm(questionario.key)'
          *ngFor="let questionario of  questionarios | async">
                <div class="mb-auto p-2">
                    <h4>{{questionario.titulo}}</h4>
                    <p class="text-muted">{{questionario.descricao}}</p>
                </div>
                <div>
                    <ul>
                        <li class="mx-2"><i class="fas fa-pen"></i></li>
                        <li class="mx-2"><i class="fas fa-trash-alt"></i></li>
                        <li class="mx-2"><i class="fas fa-user mr-2"></i>12</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- <div *ngIf='user.provider != "password"' class="card-body">
        <h4 class="card-title">{{user.name}}</h4>
        <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 7 web app. </p>
    </div>
    <div *ngIf='user.provider == "password"' class="card-body">
        <form [formGroup]="profileForm">
            <div class="form-group">
                <label>Your name</label>
                <input type="text" formControlName="name" class="form-control" required>
            </div>
        </form>
        <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
    </div> -->
