    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container p-5 text-color-muted" id="bloco">
            <div class="b-login-1">
                <h3>Cadastrar</h3>
                <p>Cadastre uma Conta para gerenciar seus formulários</p>
            </div>
            <form [formGroup]="registerForm">
                <input type="email" placeholder="Cadastre seu email" class="my-2" formControlName="email">
                <input type="password" placeholder="Cadastre uma senha" class="my-2" formControlName="password">
                <label class="error">{{errorMessage}}</label>
                <label class="success">{{successMessage}}</label>
                <input type="submit" value="Cadastrar" class="col-12 my-3" id="cadastrar" (click)="tryRegister(registerForm.value)">
            </form>

            <div class="row justify-content-center p-3">
                <div id="btn-face" class="btn-box-lg mx-4 col-12" (click)="tryFacebookLogin()">
                    <i class="fab fa-facebook-f mx-4"></i> Cadastre com o Facebook
                </div>
                <div id="btn-google" class="btn-box-lg mx-4 col-12" (click)="tryGoogleLogin()">
                    <i class="fab fa-google mx-4"></i> Cadastre com o Google
                </div>
            </div>
        </div>
    </div>
